<div class="page home">
    <h1 class="page-title">Home </h1>
    <h2 class="page-subtitle">Welcome {{userName}}</h2>
    <div class="box-grid-container">
        <div class="grid-item box-shadow"><h3>Novo usuário</h3><p>Adicionar novo usuário de acesso ao sistema</p><button>+</button></div>
        <div class="grid-item box-shadow"><h3>Buscar usuários</h3><p>Consultar usuários cadastrados</p><button>+</button></div>
        <div class="grid-item box-shadow"><h3>Excluir usuários</h3><p>Remover usuários do sistema</p><button>+</button></div>

    </div>
</div>